<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 block-social">
				<div class="label-social"><i class="fa fa-facebook"></i></div>
				<div class="label-social"><i class="fa fa-google-plus"></i></div>
				<div class="label-social"><i class="fa fa-twitter"></i></div>
				<div class="label-social"><i class="fa fa-youtube"></i></div>
			</div>
			<div class="col-sm-3">
				<h3>Contacto</h3>
				<p>
					Casa Matriz: Ahumada 251, Santiago de Chile <br>
					Mesa Central: +56 2 26531111
				</p>
			</div>
			<div class="col-sm-3">
				<h3>Inicio</h3>
				<ul>
					<li><a href="">Acceso a Banco en Línea</a></li>
					<li><a href="">Productos y Servicios</a></li>
					<li><a href="">Seguros</a></li>
					<li><a href="">Banca Móvi</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h3>Personas</h3>
				<ul>
					<li><a href="">Preferencial</a></li> 
					<li><a href="">Empresas</a></li> 
					<li><a href="">ChilePyme</a></li> 
					<li><a href="">Nuestro Banco</a></li> 
				</ul>
			</div>
		</div>
	</div>
</div>