<ul class="nav nav-pills nav-stacked">
  <li class="<%= "active" if current_route == index_home_path %>"><%= link_to index_home_path do %>Inicio<% end %></li>
  <li class="<%= "active" if current_route == companies_path %>"><%= link_to companies_path do %>Empresas<% end %></li>
</ul>