<div class="callout callout-info">
<h4><i class="fa fa-info-circle"></i> Proyectos</h4>
	<p>
		Registra tu proyecto para que conectemos tus necesidades con 
		empresas del rubro. Cuéntanos de que se trata y qué necesitas 
		para llevar a cabo tu emprendimiento.
	</p>
</div>  