<div class="callout callout-info">
<h4><i class="fa fa-info-circle"></i> Tickets</h4>
	<p>Un ticket es una solicitud de atención que puede realizarse a la empresa 
	con el objetivo de que esta responda ante alguna situación (problemática o no).</p>
</div>  